.section_1 {
  padding: 50px 0px;
}

.main1 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 80px;
}
.img1 {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0px;
  top: 3%;
  transform: scaleX(-1) translate(-200px, -200px);
  opacity: 0;
}
.main_title {
  font-size: 216px;
  font-weight: 700;
  margin: 5px;
  z-index: 1;
}
.textbox {
  font-size: 22px;
  color: #21d3d3;
  display: flex;
  gap: 100px;
  line-height: normal;
  margin-top: 90px;
  align-items: center;
  line-height: 1.8;
}
.img2 {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.white {
  color: white;
}
